<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/home">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="content">
            <h2>Add a Trip</h2>
            <form action="createTrip" method="post">
                    {% csrf_token %}
                <label for="destination">Destination</label><input type="text" name="destination"><br><br>
                <label for="description">Description</label><input type="text" name="description"><br><br>
                <label for="start_date">Travel Date From:</label><input type="date" name="start_date"><br><br>
                <label for="end_date">Travel Date To:</label><input type="date" name="end_date"><br><br>
                <input type="submit" value="Add!">
            </form>
        </div>
        <div class="errors">
            {% for error in errors %}
                <p>{{error}}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>